{% extends 'base.html' %}
{% block content %}
    <main>
        <section class="experience-section" id="experience">
            <div class="section-header-box">
                <div class="container">
                    <p class="section-kicker">A reflection of my professional path, dedication, and continuous growth.</p>
                    <h1>Experience</h1>

                    <div class="experience-grid">
                        {% for experience in experience_list %}
                            <article class="experience-card">

                                {% if experience.thumbnail %}
                                <div class="experience-poster">
                                <img class="experience-thumbnail" src="{{ experience.thumbnail }}" alt="{{ experience.title }}">
                                </div>
                                {% endif %}
                                
                                <div class="experience-info">
                                    <span class="experience-category">
                                        {{ experience.get_category_display }}
                                    </span>
                                    <h2>{{ experience.title }}</h2>
                                    <p class="experience-description" style="white-space: pre-line;">
                                        {{ experience.description }}
                                    </p>
                                    {% if experience.is_ongoing %}
                                        <p class="experience-status">Sedang berlangsung</p>
                                    {% else %}
                                        <p class="experience-status">Selesai</p>
                                    {% endif %}
                                </div>
                            </article>
                        {% empty %}
                            <p class="empty-state">
                                Belum ada pengalaman yang ditambahkan.
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}
