{% extends 'base.html' %}
{% block content %}
    <main>
        <section class="skill-section" id="skill">
            <div class="section-header-box">
                <div class="container">
                    <p class="section-kicker"></p>
                    <h1>Skills</h1>

                    <div class="skill-grid">
                        {% for skill in skill_list %}
                            <article class="skill-card">

                                {% if skill.thumbnail %}
                                <img class="skill-thumbnail" src="{{ skill.thumbnail }}" alt="{{ skill.title }}">
                                {% endif %}
                                
                                <span class="skill">
                                    {{ skill.get_category_display }}
                                </span>
                                <h2>{{ skill.title }}</h2>
                                <p class="skill-description" style="white-space: pre-line;">
                                    {{ skill.description }}
                                </p>
                            </article>
                        {% empty %}
                            <p class="empty-state">
                                Belum ada skill yang ditambahkan.
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>   
        </section>
    </main>

{% endblock content %}
